* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-color: #101010;
    position: relative;
  }

  h1{
    color: wheat;
    text-align: center;
    padding-top: 60px;
 
  }

 /*Hittade den här koden här https://codepen.io/thecoderashok/pen/yLQLBWj*/
  .avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #76899f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(-100vw 0 0 0 round 50%);
    border: 6px solid rgb(243, 216, 166);
    /* outline: 10px solid greenyellow ; */
  }
  
  .avatar img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;
  }

  .avatar:focus-within {
    /* outline: 10px solid rgb(189, 108, 108); */
    border: 20px solid  rgb(189, 108, 108);
  }

  .avatar:hover img {
    transform: translate(-50%, -50%) scale(1.6);
  }

  /* Länkar till sociala sidor */
  .link{
    position: fixed;
    bottom: 10%;
    left: 46%;
    margin: auto auto;
    height: 50px;
    text-align: center;
    padding: 5px;
    border: 5px solid rgba(245, 222, 179);
    background-color:rgb(224, 193, 134);
 }
  


  
  