@media screen and (max-width:475px){
    .menu-icon {
        display: block;
    }

    .header {
        flex-direction: column;
        position: fixed;
        top:0;
        margin-left: 50vh;
        width: 100%; 
        z-index: 2;
    }

    .meny {
        display: none;
        list-style-type: none;
    }

    input[type="checkbox"]:checked + .menu-icon + .meny {
        display:grid;
        
    }

    .meny-link{
        width: 1rem;
       /*  text-align: left; */
    }


    .N-container{
        display: grid;
        grid-template-columns: 10% 10% 30% 30% 10% 10%; 
        grid-template-rows: 15vh 20vh 25vh 20vh 15vh ;
        grid-template-areas:
            ". header header"
            ". main main"
            "footer footer .";
            align-items: center;
        }
    
    









    .container{
    display: grid;
    grid-template-columns: 10% 10% 30% 30% 10% 10%; 
    grid-template-rows: 5% 30% 25% 42% 5%;
    grid-template-areas: 
        ". header header" 
        ". main right"
        ". under-div under-div"
        "footer footer . ";
        align-items: center;
    }

    .main{
        grid-column: 3/5;  
        display: block;
    }
    .right{
        grid-column: 3/5;
        grid-row: 3/3;
        
    }
    .under-div{
        grid-row: 4/4;
    }


    .K-container{
    display: grid;
    grid-template-columns: 10% 10% 30% 30% 10% 10%; 
    grid-template-rows: 5% 20% 55% 1% 10%;
    grid-template-areas:
        ". header header"
        ". left main"
        "footer footer .";  
        align-items: center;  
    }

    .K-left{
        grid-column: 3/5;
    }

    .pointer{
        display: none;
    }

    .K-main{
        grid-column: 3/5;
        grid-row: 3/3 ;
    }

    input,select{
        width: 40vw;
        padding: 5px;
    }
    
    input[type=text]:focus {
        width: 40vw;
        padding: 5px;
        background-color:rgb(157, 187, 242);
        border: 3px solid #555;
    }



    .footer{
        grid-row: 5/5;
    }
}

/* 
@media screen and (max-width:767px){
    .main{
        grid-column: 3/5;
        display: block;
    }
    .right{
        grid-column: 3/5;
        display: block;
    }
}


@media screen and (min-width:1024px){
    
}


@media screen and (min-width:1200px){
    
}

 */
















