/* Css av Info-sidan */
.container{
    display: grid;
    grid-template-columns: 25% 25% 27% 23%; 
    grid-template-rows: 30% 50% 60%;
    grid-template-areas: 
      ". header header" 
      ". main right"
      ". under-div under-div"
      "footer footer . ";
    }

   /*  .main{
        grid-area: main;
    } */

    #information{
        height: 32vh;
        overflow: auto;
        
    }
   

    .right{
        grid-area: right;
        
    }
    
    .lista{
        height: 32vh;
        overflow: auto;
    }

    .under-div {
        grid-area: under-div;
        height: 310px;    
    }

    
    .under-div:hover {
        height: 310px;
    }
    
    .pic{
        height: 155px; 
        transition: font-size 1s;
        border: 5px solid black;
        transition: transform 1s ease-out;        
    }
    
    .pic:hover {
        transform: scale(2);
   }
