/* Css av Info-sidan */
.container{
display: grid;
grid-template-columns: 10% 10% 30% 30% 10% 10%; 
grid-template-rows: 8% 10% 44% 50% 15%;
grid-template-areas: 
    ". header header" 
    ". h1 h1"
    ". main right"
    ". under-div under-div"
    "footer footer . ";
    align-items: center;
}

h1{
    grid-area: h1;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
    grid-column: 3/5;
}

.main{
    grid-area: main;
    grid-column: 3/3;
}


.main, .right{
    grid-row: 3/3;
    height: 80%;
    align-self: stretch;
    border: solid black 1px;
    background-color:rgba(190, 190, 190, 0.801);
    margin: 10px;
}

.right{
    grid-area: right;
    grid-column: 4/4;
}

.under-div {
    display: grid;
    grid-area: under-div;
    place-items: center;
    grid-row: 4/4;
    grid-column:2/6;
    height: 100%;
}

.pic{
    height: 157px; 
    transition: transform 1s ease-out;  
    border: 5px solid black;
}

.pic:hover {
    transform: scale(2);
}

.bilder {
    text-align: center;
}
