.container{
    display: grid;
    grid-template-columns: 25% 25% 25%; 
    grid-template-rows: 35% 50% 60% ;
    grid-template-areas: 
      ". header header " 
      ". main right"
      ". under-div under-div "
      ". footer footer ";
    }

    .header{
        grid-area: header;
      justify-self: center;
        height: 8vh;;
    }


    .meny{
        list-style-type: none;
      margin-top: 0;
        overflow: hidden;
        background-color: #000000;
    /*    margin-left: auto;
       margin-right: auto; */
    }
      
    .meny-link{
        float: left;
        font-weight: bold;
    }
    
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li a:hover{
        background-color: #797979;
        transform: scale(1.2);
    } 

    h1{
        margin-top: 15vh;
        text-align: center;
        color:rgb(12, 12, 12);
    }
    
   




    .main{
        grid-area: main;
        
    }

    #information{
        height: 29vh;
    }
   

    fieldset{
        background-color:rgba(190, 190, 190, 0.552);
        border: solid black 1px;
    }





    .right{
        grid-area: right;
        
    }
    
    .lista{
        height: 28.5vh;
    }



    .under-div {
        grid-area: under-div;
        height: 310px;    
        display: block;
        pointer-events: none;
       
    }
    
    .pic{
        height: 155px; 
        transition: font-size 1s;
        border: 5px solid black;
        pointer-events: auto;
        position: float;
        transition: transform 1s ease-out;        
    }
    
  
    .pic:hover {
        transform: scale(2);
        
   }
    
    .under-div:hover {
        height: 310px;
    }


    .footer{
        grid-area: footer;
        height: 10vh;
        align-items: end;
        border: 1px solid;
       
    
        top: 50vh; 
    }
