/* Css av Kontakt-sidan */
.K-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45% 50% 60%;
    grid-template-areas:
        ". header header"
        ". left main"
        "footer footer .";    
}

.K-left{
    grid-area: left;
    padding-top: 1vw ;
}

.citat{
    font-family: 'Blood Moon', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: red;
}

.pointer{
    height: 25vh;
    align-items: center;
    padding-left: 5vh;
}

.K-main{
    grid-area: main;  
    padding-left: 20px;
}

input,select{
    width: 20vw;
    padding: 5px;
}

input[type=text]:focus {
    width: 20vw;
    padding: 5px;
    background-color:rgb(157, 187, 242);
    border: 3px solid #555;
}

span{
    color: red;
}
