/* CSS på Nyheter-sidan */
.N-container{
display: grid;
grid-template-columns: 10% 10% 30% 30% 10% 10%; 
grid-template-rows: 30% 150% 200%;
grid-template-areas:
    ". header header"
    "footer footer .";
    align-items: center;
}




