@import url('https://fonts.cdnfonts.com/css/golden-age-restored');

body{
    background-image: url(Bilder/svart.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-size: cover;
            background-position: center;
            height: 100vh;
           /*  display: flex; */
           /*  justify-content: center; */
          /*   align-items: center; */
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column; */
}

   /* Stil för hamburgarmeny-ikonen */
   .menu-icon {
    font-size: 4rem;
    cursor: pointer;
    display: none;
}
/* Stil för hamburgarmenyen när den är aktiv */
input[type="checkbox"] {
    display: none;
}

/* input[type="checkbox"]:checked + .menu-icon + .nav-links {
    flex-direction: column;
    background-color: #333; */




.header{
    grid-area: header;
    justify-self: center;
    grid-row: 1/1;
    grid-column: 3/5;
   
}

.meny{
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
}
  
.meny-link{
    float: left;
    font-weight: bold;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Golden Age Restored', sans-serif;
}
  
li a:hover{
    background-color: #797979;
    transform: scale(1.2);
} 

.h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
    
}

fieldset{
    background-color:rgba(190, 190, 190, 0.801);
    border: solid black 1px;
}



/* footer */
.footer{
    grid-area: footer;
    grid-row: 4/4;
    grid-column:3/5;
    height: 10vh; 
    position:relative; 
    
    justify-content: center; 
    align-items: center;
    gap: 10px;
    display: flex;

} 
